@model IEnumerable<PlutoWeb.Core.Domain.Course>
@{
    ViewBag.Title = "Home Page";
}
@using (Html.BeginForm("AddCourse", "Home"))
{
    <input class="btn btn-primary" type="submit" value="Add Course"/>
}
<br />
<ul>
    @foreach (var course in Model)
    {
        <li>@course.Name</li>
    }
</ul>

